@import url('https://fonts.googleapis.com/css?family=Montserrat');

.dev-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem; /* Ajusta o padding para diminuir a altura */
  background-color: #f8f9fa;
}

.logo {
  flex: 0 0 auto;
  margin-right: 20px; /* Espaço à direita da logo */
}

.logo img {
  width: 100px; /* Ajusta o tamanho da logo para caber melhor */
  height: auto;
}

.nav-items {
  flex: 1;
  display: flex;
  justify-content: center; /* Centraliza o conteúdo */
  align-items: center;
  margin-right: 20px; /* Espaçamento à direita */
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaça os itens igualmente */
}

.nav-links a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
  white-space: nowrap; /* Impede quebra de linha */
}

.nav-links a:hover {
  color: #666;
}

.nav-items input {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  width: 200px; /* Define uma largura fixa para o input */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-left: 20px; /* Espaçamento entre links e input */
}

.nav-items input:focus {
  border-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.dev-button {
  flex: 0 0 auto;
  margin-left: auto; /* Move o botão para a extremidade direita */
}

.dev-button a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center; /* Centraliza o ícone com o texto */
}

.dev-button a:hover {
  background-color: #e9ecef;
}

@media (max-width: 768px) {
  .dev-navbar {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-items {
    justify-content: center;
    margin: 0.5rem 0; /* Ajusta margem para telas menores */
  }

  .nav-links {
    gap: 15px; /* Reduz o espaçamento para telas menores */
  }

  .nav-items input {
    width: 100%; /* Ajusta largura para 100% em telas menores */
  }

  .dev-button {
    margin-top: 10px; /* Adiciona margem superior para espaçamento */
  }
}
