/* src/components/DevNavBar.css */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.dev-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
}

.logo {
  flex: 1;
  margin-right: 50px; /* Espaço à direita da logo */
}

.logo img {
  width: 35%;
  height: auto;
  padding: 10px;
}

.logo a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  transition: text-shadow 0.3s ease, color 0.3s ease;
}

.logo a:hover {
  color: #666;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.nav-items {
  flex: 2;
  display: flex;
  justify-content: center; /* Centraliza o conteúdo */
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 50px; /* Espaça os itens igualmente */
}

.nav-links a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #666;
}

.nav-items input {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  width: calc(100% - 50px); /* Reduz a largura da barra de pesquisa em 50px */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.nav-items input:focus {
  border-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .dev-navbar {
    flex-direction: column;
  }

  .nav-items {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    gap: 20px; /* Reduz o espaçamento para telas menores */
  }

  .nav-items input {
    margin: 0.5rem 0;
    width: calc(100% - 50px); /* Reduz a largura da barra de pesquisa em 50px */
  }
}
